body {
  font-family: Ariel, Sans-Serif;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco";  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}